main {
	display: block;
	border-top: 1px solid #DDD;
}

.code {
	display: block;
	margin: 8px;
	padding: 8px;
	text-decoration: none;
	color: #000;
	cursor: pointer;
}
.dark .code {
	color: #FFF;
}

.code-title {
	display: block;
	font-size: 32px;
}
.code-description {
	display: block;
	font-size: 16px;
}

.code:hover {
	color: #007FF8;
	padding: 7px;
	border: 1px solid #DDD;
	border-radius: 8px;
}
.dark .code:hover {
	color: #AACFF8;
}