aside {
	display: inline-block;
	width: 200px;
	height: calc(100% - 49px);

	position: relative;

	border-top: 1px solid #DDD;
	border-right: 1px solid #DDD;
}

.aside-input {
	display: block;
	width: 168px;
	height: 16px;
	padding: 8px 0;
	margin: 16px;
	border: none;
	background-color: transparent;

	border-bottom: 1px solid #DDD;

	outline: none;

	font-size: 16px;
}
.aside-input:focus {
	padding-bottom: 5px;
	border-bottom: 4px solid #007FF8;
}

.aside-select {
	display: block;
	width: 168px;
	height: 36px;
	padding: 8px;
	margin: 16px;
	border: 1px solid #DDD;
	background-color: inherit;

	outline: none;

	font-size: 16px;
}

.dark .aside-input, .dark .aside-select {
	color: #FFF;
}
.dark .aside-select > * {
	background-color: #111;
	color: #FFF;
}

.footer {
	display: block;
	width: 168px;

	position: absolute;
	left: 16px;
	bottom: 16px;

	font-size: 16px;
}

.dark .footer {
	color: #FFF;
}