header {
	display: block;
	width: calc(100% - 128px);
	height: 48px;
}

.header-button {
	display: inline-block;
	height: 18px;
	padding: 15px;
	cursor: pointer;
	text-decoration: none;
	color: #000;

	font-size: 16px;
	line-height: 18px;
}
.header-button:hover {
	padding-bottom: 11px;
	border-bottom: 4px solid #007FF8;
}

.dark .header-button {
	color: #FFF;
}
.dark .header-button img {
	filter: invert(100%);
}
.dark .header-button:hover {
	border-bottom-color: #AACFF8;
}

.header-button-right {
	float: right;
}

.header-button-current {
	background-color: #AACFF8;
}
.dark .header-button-current {
	background-color: #007FF8;
}