html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
	background-color: #FFF;

	font-family: Arial, Verdana, sans-serif;
	font-size: 0;
}

.dark {
	background-color: #111;
}

* {
	vertical-align: top;
}