main {
	display: inline-block;
	width: calc(100% - 201px);
	height: calc(100% - 49px);
}

.main-row {
	height: 50%;
	border-top: 1px solid #DDD;
}

.code, .result {
	position: relative;

	display: inline-block;
	width: 50%;
	height: 100%;
	margin: 0;
	border: none;

	margin-right: -1px;
	border-left: 1px solid #DDD;
}
.code:first-child, .result:first-child {
	margin-right: 0;
	border-left: none;
}

.code-mode {
	display: inline-block;
	width: 110px;
	height: 28px;
	padding: 4px;
	z-index: 10;
	border: none;
	border-radius: 12px;
	outline: none;

	background-color: #F7F7F7CC;

	position: absolute;
	top: 8px;
	right: 8px;
}
.dark .code-mode {
	background-color: #272822CC;
	color: #FFF;
}

.CodeMirror {
	display: block;
	width: 100%;
	height: 100%;

	font-size: 16px;
}

.result {
	background-color: #FFF;
}

.code-error {
	display: none;
	width: calc(100% - 32px);
	padding: 8px 16px;
	z-index: 10;

	position: absolute;
	bottom: 0;
	left: 0;

	background-color: red;
	color: #FFF;
	font-size: 16px;
	font-family: "Courier New", Courier, monospace;
}